.footer {
  color: black;
  font-family: 'Avenir';
  font-size: 18px;
  margin: 1%;
  position: fixed;
  bottom: 0;
}

.title {
  color: black;
  font-family: 'Avenir';
  font-size: 24px;
  margin: 1%;
}

.footer p {
  margin: 0;
}

a {
  color: black;
}

img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  display: flex;
}

h2 {
  display: flex;
  justify-content: center;
}
